body{
    font-family: 'inter';
}
#wrapper{
    padding: 2rem 1rem;
}
#logo-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
#logo{
    max-height: 30px;
}
#menu-icon{
    max-height: 20px;
    min-width: 50px;
}
#title{
    font-size: 40px;
    font-weight: 800;
}
#subtitle{
    line-height: 1.5rem;
    color: hsl(240, 18%, 55%);
}
#rm-btn{
    background-color: hsl(5, 85%, 63%);
    color: white;
    width: fit-content;
}