body{
    font-family: 'inter';
}
#wrapper{
    padding: 2rem 1rem;
}
#logo-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
#logo{
    max-height: 30px;
}
#menu-icon{
    max-height: 20px;
    min-width: 50px;
}
#main-img{
    margin-bottom: 1rem;
}
#title{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1rem;
}
#subtitle{
    line-height: 1.5rem;
    color: hsl(240, 18%, 55%);
    margin-bottom: 1.5rem;
}
#rm-btn{
    background-color: hsl(5, 85%, 63%);
    color: white;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 14px;
    padding: 0.8rem 2rem;
    margin-bottom: 4rem;
}
#black-card{
    background-color: black;
    padding: 1rem;
}
#new-text{
    color: hsl(35, 77%, 62%);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 2rem;
}
.black-card-title{
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.black-card-p{
    color: hsl(0, 0%, 67%);
    font-size: 14px;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.1px solid hsla(0, 0%, 67%, 0.5);
}
#black-card-p-last{
    padding: 0;
    margin: 0;
    border: 0;
}
#counted-list section{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
}
.counted-img{
    width: 100px;
}
.count{
    font-size: 30px;
    font-weight: 700;
    color: hsl(233, 8%, 79%);
}
.counted-title{
    font-weight: 800;
    font-size: 16px;
}
.counted-p{
    color: hsl(0, 0%, 44%);
    font-size: 15px;
    line-height: 1.5rem;
}