body{
    font-family: 'inter';
}
#wrapper{
    padding: 2rem 1rem;
}
#logo-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
#logo{
    max-height: 30px;
}
#menu-icon{
    max-height: 20px;
    min-width: 50px;
}